.gallery {
  list-style: none;

  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 36px;

  margin: -12px;
}

.gallery-item {
  width: calc((100% / 3) - 24px);
  height: 200px;
  margin: 6px;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.gallery-image {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
